<div class="container">
  <h1>{{tituloApp}}</h1>

  <label for="opa" class="mb-2">Operando A:</label>
  <input type="number" id="opa" [(ngModel)]="operandoA" class="form-control mb-4" placeholder="Escribe el operando A">
  
  <label for="opb" class="mb-2">Operando B:</label>
  <input type="number" id="opb" [(ngModel)]="operandoB" class="form-control mb-4" placeholder="Escribe el operando B">
  
  <button class="btn btn-primary mb-2" (click)="sumarElementos()">Sumar operandos</button>

  <div class="resultado ">Resultado: {{resultado}}</div>
</div>